.container {
  color: #fff;
  text-align: center;
}

.avatar {
  border-radius: 50%;
  height: 168px;
  width: 168px;
}

.avatar-image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.name {
  font-weight: 600;
  font-size: 32px;
  margin-top: 16px;
}

.title {
  font-size: 24px;
  margin-top: 16px;
}
