@import '../../../../styles/variables';

.container {
  padding: $grid * 1.5;
  border: 1px rgba(119, 119, 119, 0.2) solid;
  box-shadow: 0 4px 4px rgba(119, 119, 119, 0.15);
  border-radius: 12px;
  flex-grow: 1;
  flex-shrink: 1;

  @media (min-width: $mobile-breakpoint) {
    padding: $grid * 2;
    margin-right: $grid;
  }
}

.header {
  font-size: 16px;
  font-weight: $font-weight-bold;
  margin-bottom: $grid;

  @media (min-width: $mobile-breakpoint) {
    font-size: 24px;
  }
}

.description {
  font-size: 14px;
  margin-bottom: $grid * 1.5;

  @media (min-width: $mobile-breakpoint) {
    font-size: 16px;
  }
}

.tech-stack {
  font-size: 14px;

  @media (min-width: $mobile-breakpoint) {
    font-size: 16px;
  }
}

.tech-stack-header {
  color: $color-blue;
  margin-bottom: $grid;
}
