@import '../../styles/variables';

.icon {
  height: 55px;
  width: 55px;
  background-color: $color-blue;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-white {
  color: $color-blue;
  background-color: #fff;
}
