@import '../../styles/variables.css';

.button {
  display: block;
  padding: 16px;
  font-weight: 600;
  text-align: center;
  border: 2px solid var(--blue);
  border-radius: 30px;
  color: var(--blue);
  cursor: pointer;
}
