@import './variables';

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: $color-grey;
  font-weight: $font-weight-normal;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $color-grey;
}
