@import '../../styles//variables.scss';

.container {
  color: $color-grey-light;
  width: 100%;
  display: flex;
  font-size: 14px;
}

.left {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.icon {
  margin: 0 4px;
}
