@import '../styles/variables';

.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 24px;
  color: $color-grey;
  text-align: justify;

  @media (min-width: $mobile-breakpoint) {
    font-size: 32px;
    text-align: center;
  }
}

.buttons {
  display: flex;
  justify-content: stretch;
  margin-top: $grid * 2;
  width: 100%;

  @media (min-width: $mobile-breakpoint) {
    margin-top: $grid * 3;
    width: 400px;
  }
}

.button {
  flex: 1 1 0%;
  margin: $grid;

  @media (min-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}
