@import '../styles/variables.css';

.header {
  font-size: 32px;
  color: var(--grey);
}

.buttons {
  display: flex;
  justify-content: stretch;
  margin-top: 48px;
  width: 400px;
}

.button {
  flex: 1 1 0%;
  margin: 16px;
}
