@import '../../styles/variables';

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: $grid ($grid * 1.5);
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  pointer-events: none;
  height: 100%;
  width: 100%;
}

.image {
  height: 100%;
}

.fame-section {
  margin-top: $grid * 4;
}

.avatar-group {
  margin: auto;
}

.sidebar-footer {
  margin-top: auto;
  width: 100%;
}
