@import '../styles/variables.css';

.border-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  display: flex;
  width: calc(100% - 24px);
  height: calc(100vh - 24px);
  padding: 16px;
  margin: 12px;
  border-radius: 12px;
  background-color: #fff;
}

.menu {
  position: absolute;
  top: 30px;
  right: 42px;
}

.sidebar {
  flex-basis: 465px;
  height: 100%;
  background-color: var(--blue);
  border-radius: 12px;
  flex-shrink: 0;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 22px 0 80px;
  overflow-y: scroll;
}
