@import '../styles/variables';

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: $grid * 2;
  background-color: #fff;

  @media (min-width: $mobile-breakpoint) {
    width: calc(100% - 24px);
    height: calc(100vh - 24px);
    padding: $grid;
    margin: 12px;
    border-radius: 12px;
  }
}

.menu {
  display: none;

  @media (min-width: $mobile-breakpoint) {
    display: block;
    position: absolute;
    top: 30px;
    right: 42px;
  }
}

.sidebar {
  display: none;

  @media (min-width: $mobile-breakpoint) {
    display: block;
    width: 465px;
    height: calc(100% - 56px);
    background-color: $color-blue;
    border-radius: 12px;
    flex-shrink: 0;
    overflow: hidden;
    position: fixed;
    top: 28px;
    left: 28px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 22px 28px 22px;

  @media (min-width: $mobile-breakpoint) {
    margin-left: 545px;
  }
}
